body {
  background-color: rgba(61, 5, 3, 0.8);
  color: #fff;
}

.login-heading {
  margin-bottom: 50px;
}

.login-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.login-left {
  width: 50%;
  border: 2px solid green;
}

.login-right {
  width: 50%;
  margin-left: 50px;
}
.login-input {
  margin: 20px 0;
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  width: 80%;
  transition: 1s;
}
.login-input:focus {
  outline: none;
  background-color: rgb(241, 252, 149);
}
/* =======================
     Responsive
     ===================== */
@media screen and (max-width: 600px) {
  .login-container {
    display: block;
  }
  .login-left {
    width: 100%;
  }
  .login-right {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
